.DS_Store

.hg/
.hgignore
.hgtags

.idea
.coverage
.tox
.cache
.bash_history
.pytest_cache

htmlcov/*
bin/*
build/*
include/*
lib/*
local/*

dist/*
venv/

__pycache__/*

*.egg-info

*.pyc
*.pyo


coverage.xml
junit-py*.xml

.vscode
